<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Hotel</display-name>
  <welcome-file-list>
    <welcome-file>HomeServlet</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>iit.HomeServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>TransactionUtil</filter-name>
    <filter-class>iit.TransactionUtil</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TransactionUtil</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>SigninServlet</servlet-name>
    <servlet-class>iit.SigninServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SigninServlet</servlet-name>
    <url-pattern>/SigninServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>iit.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReviewServlet</servlet-name>
    <servlet-class>iit.ReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewServlet</servlet-name>
    <url-pattern>/ReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RoomServlet</servlet-name>
    <servlet-class>iit.RoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomServlet</servlet-name>
    <url-pattern>/RoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckoutServlet</servlet-name>
    <servlet-class>iit.CheckoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutServlet</servlet-name>
    <url-pattern>/CheckoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CancelOrderServlet</servlet-name>
    <servlet-class>iit.CancelOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelOrderServlet</servlet-name>
    <url-pattern>/CancelOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateOrder</servlet-name>
    <servlet-class>iit.updateOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateOrder</servlet-name>
    <url-pattern>/updateOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addOrder</servlet-name>
    <servlet-class>iit.addOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addOrder</servlet-name>
    <url-pattern>/addOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AutocompleteServlet</servlet-name>
    <servlet-class>iit.AutocompleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutocompleteServlet</servlet-name>
    <url-pattern>/AutocompleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>iit.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
</web-app>